body {
  background-color: #EEE;
  padding: 0 1em;
}

.title-path {
  font-size: 24px;
  padding: 10px 0 10px 0;
  float: left;
}

.title-path .dirlink {
  font-family: monospace;
}

#preview {
  padding: 1em;
  border: 1px solid black;
  float:left;
}

#options {
  float: right;
}

#options img {
  width: 44px;
}

#ls {
  background-color: #CCC;
  max-height: 300px;
  overflow: auto;
  clear: left;
}

#ls ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 200%;
}

#ls li {
  position: relative;
  display: inline;
  margin-left: 0.2em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  background-color: rgb(0, 51, 102);
  font-family: monospace;
  border-radius: 0.5em;
  cursor: default;
}

#ls #hidden li {
  background-color: rgb(0, 51, 102);
  background-color: rgba(0, 51, 102, 0.5);
}

#ls li a {
  text-decoration: none;
  color:inherit;
}

#ls li span {
  display: none;
  background-color: #222;
  position: absolute;
  top: 1.7em;
  font-size: 0.9em;
  color: white;
  line-height: 100%;
  padding: 0.3em;
  z-index: 1;
}

#ls li:hover {
  background-color: #369;
}

#ls li:hover span {
  display: block;
}

#shell-container {
  background-color: #BBB;
  font-family: monospace;
  width: 100%;
}

#term-prompt {
  width: 1px;
  white-space: nowrap;
  padding: 0.4em 0 0.4em 0.6em;
}

#term-input {
  background-color: #ACB3C5;
  font-family: monospace;
  border-style: none;
  width: 100%;
}
#term-input:focus {
  outline: none;
}

#terminal-container {
  max-height: 24em;
  overflow: auto;
}

#terminal {
  background-color: #AAA;
  width: 100%;
}

#terminal td {
  padding: 0.4em 0.6em;
}

.term-input:before {
  content: "> "
}
.term-output {
  white-space: pre;
  background-color: lightgoldenrodyellow;
}
